body {
	background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/84/72/6557cb7ec2bbb9f.jpg);
}
.custom-background {
	background-image: url(../img/rose.jpg);
}
.custom-background {
	background-image: url(../img/rose.jpg);
}
.custom-background {
	background-image: url(../img/rose.jpg);
}
.custom-background {
	background-image: url(../img/rose.jpg);
}
.custom-background {
	background-image: url(../img/rose.jpg);
}
.custom-background {
	background-image: url(../img/rose.jpg);
}
